<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
    <br>
    <br>

    <div>Airline:  <%= flight.airline %></div>
    <div>Airport:  <%= flight.airport %></div>
    <div>FlightNo:  <%= flight.flightNo %></div>
    <div>Departs:  <%= flight.departs %></div>
    <br>
    <br>
    <a href="/flights">Back</a>
  </section>

<h3>Add a Ticket to This Flight</h3>
<form 
action="/flights/<%= flight._id %>/tickets" 
method="POST"
>
<label for="seat-input">Seat (A1-F99): </label>
<input name="seat" required pattern="[A-F][1-9]\d?">
<label for="price-input">Price: </label>
<input type="number" name="price" min="0">
<button type="submit">Add Ticket</button>
</form>
<br>
<% if (flight.tickets.length) { %>
  <h3>Current Tickets</h3>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function(ticket) { %>
      
        <tr>
          <td><%#= ticket.createdAt.toLocaleDateString() %>-</td>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else {%>
  <h3>No Tickets Yet</h3>
<% } %>

</main>

<%- include('../partials/footer') %>